* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(95, 135, 160);
}

.main-title {
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.radio-hidden {
	display: none;
}

.slider-text-box {
	min-width: 50%;
	display: flex;
	order: 2;
	align-items: center;
}

.text-slider {
	display: none;
	color: white;
	font-size: 1.563rem;
	animation: showContent 2s forwards;
}

@keyframes showContent {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.wrapper-slider {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.25rem;
	max-width: 56rem;
}

.slider {
	overflow: hidden;
	order: 1;
	border-radius: 10%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
		-23px 0 20px -23px rgba(0, 0, 0, .8),
		23px 0 20px -23px rgba(0, 0, 0, .8),
		0 0 40px rgba(0, 0, 0, .1) inset;
}

.slider-img {
	display: flex;
	transition: 0.6s;
}

.slider-img img {
	width: 100%;
}

.slider-nav-item {
	width: 1.563rem;
	height: 1.563rem;
	border: 0.125rem solid #ffffff;
	transition: all 0.5s ease;
	cursor: pointer;
	border-radius: 50%;
} 

.slider-nav-item:hover {
	background-color: #ffffff;
}

.slider-nav-item:active {
	background-color: black;
} 

.input-items {
	display: flex;
	min-width: 50%;
	order: 3;
	gap: 0.5rem;
	justify-content: right;
	align-items: center;
}

.input-items:has(#r1:checked) ~ .slider .slider-img {
	transform: translateX(0);
}

.input-items:has(#r2:checked) ~ .slider .slider-img {
	transform: translateX(-100%);
}

.input-items:has(#r3:checked) ~ .slider .slider-img {
	transform: translateX(-200%);
}

.input-items:has(#r4:checked) ~ .slider .slider-img {
	transform: translateX(-300%);
}

.input-items:has(#r1:checked) ~ .slider-text-box .text-content #text-1,
.input-items:has(#r2:checked) ~ .slider-text-box .text-content #text-2,
.input-items:has(#r3:checked) ~ .slider-text-box .text-content #text-3,
.input-items:has(#r4:checked) ~ .slider-text-box .text-content #text-4 {
	display: inline;
}

#r1:checked + .slider-nav-item,
#r2:checked + .slider-nav-item,
#r3:checked + .slider-nav-item,
#r4:checked + .slider-nav-item {
	background-color: #ffffff;
}
